<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - {{ site.title }}</title>
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	</head>

	<body>
		<nav class="fixed flex inset-y-0 right-10">
			<ul class="my-auto">
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li id=""><a href="{{ site.baseurl }}/stats">Stats</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="{{ site.baseurl }}/aboutus">About us</a></li>
				<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
			</ul>
		</nav>
		{{ content }}
	</body>
</html>
